
h2 { align-items: center;
    display: flex;
    justify-content: center;
    margin: 1.8em;
    text-align: center;
}


.tekstonderfoto {color: #8caa88;
    gap: 3em;
    margin-top: 2.2em;
    display: flex;
}

.tekstonderfoto p {margin-top: 0.1em;
    font-size: 19px;
    text-align: center;

}


.tekstonderfoto img {
    top: 10px;
  margin-top: 0.4em;
  margin-left: 1em;


}


.pagina2image {justify-content: center;
    align-items: center;
    display: flex;
}

.pagina2image img {
    border-radius: 0.2em;
}

.box2 { align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1.2em;
}

.box1 { align-items: center;
    display: flex;
    justify-content:space-evenly;
    gap: 1em;
    margin-bottom: 5em;
}

.homepage2 {background-color: #C8A17D; 
padding: 1.2em;
margin-top: 1em;

margin-right: 2em;
border-radius: 0.4em;


}
.homepage1 {background-color: #C8A17D; 
padding: 1.2em;
margin-top: 1em;
margin-left: 2em;
border-radius: 0.4em;
    
    }



.homepage2 p { color: white;
   font-size: 10px;
}

.homepage1 p { color: white;
    font-size: 10px;
 }


footer {
    text-align: center;
    margin: 2em;
    padding-bottom: 2em;
    background-color: antiquewhite;
    padding-top: 0.6em;
    border-radius: 0.2em;
}


.conclusie {color: #8caa88;
    text-align: center;


}
.conclusie h2 { font-size: x-large;}
.conclusie p { font-size:17px;}

.bakfiets { display: flex;
justify-content: center;
align-items: center;
margin: 2em;
}

h2 { font-size: 21px;
    color: #8caa88;
}



.homepage3 {background-color: #fff; 
    padding: 1.2em;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 1em;
    
    
    }
    .homepage4 {background-color: #ffffff; 
        padding: 1.2em;
    margin-top: 1em;
    margin-right: 2em;
    margin-left: 1em;
        
        }

        .homepage3 p { color: #8caa88;
            font-size: 12px;
            text-align: center;
        }
        .homepage4 p { color: #8caa88;;
            font-size: 12px;
            text-align: center;
        }

.afbeelding2 {
    height: 100px;
    width: 100%;
    position:absolute;
    top: 950px;
    right: 1px;
    padding-bottom: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.afbeelding2 img {border-radius: 0.2em;


}

.bron p {align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 8em;
    color: #8caa88;

}
  .vlakbruin {background-color: #c49270;
    padding-bottom: 5em;
margin-bottom: 5em;
border-radius: 0.4em;
padding-top: 1em;
margin-top: 1em;
}

.vlakbruin h2 { color: #fff;
    margin-top: 0.4em;

}
.vlakbruin p { color: #fff;
   margin: 3em;

}





.kleurvlak {
    width: 100%;
    height: 100px;
    background-color: #c49270; 
    position: absolute;
    top: 1745px;
    z-index: -1;
    padding-bottom: 2em;
    border-radius: 0.5em;

}

.kleurvlak2 {
    width: 100%;
    height: 100px;
    background-color: #c49270; 
    position:relative;
    bottom: 250px;
    z-index: -1;
    padding-top: 1em;
    padding-bottom: 2em;
    

}

    .laatstetekst p { font-size: 15px;
        text-align: center;
        color: #8caa88;
        margin-right: 1.2em;

    }



    .kleurvlak3     {
        width: 100%;
        height: 100px;
        background-color: #c49270; 
        position:relative;
        top: -80px;
        z-index: -1;
        padding-bottom: 1em;
        padding-top: 1em;
        border-radius: 0.2em;
    
    }
    

.tekst {margin-top: 7em;
    margin-bottom:2em ;

}
.tekst2 {background-color: whitesmoke;
    border-radius: 0.2em;
}

.tekst2 h2 {
    margin-bottom: 2em;
    color: #8caa88;
    font-size: 20px;
    text-align: center;
    margin-top: -6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.laatstetekst1 {align-items: center;
        display: flex;
        justify-content: center;
        }
        
.laatstetekst1 p { font-size: 15px;
            text-align: center;
            margin: 2em;
            color: #8caa88;
        margin-top: -2em;
        }
    


        .minilogo {
            position: absolute;
            top: 25px;
            left: 15px;
            width: 50px;}

.tekstnanav {color: white;
    text-align:center;


}


.tekstnanav h2 {color: white;
    margin-top: 1em;
    padding-top: 1em;


}


.tekstnanav p  {color: white;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    font-size: 12px;



}
.vlakbruin2 {background-color: #c49270;
margin-bottom: 1em;
}


  


  
  h1 {
    font-size: 36px;
    z-index: +2;
    color: beige;
}



  
  p {
    font-size: 12px;
  }


h3 {color: white;}

h4 {color: #8caa88;
    


}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.banner {
    background-image: url('fotos/banner4png.png'); 
    background-size: cover; 
    color: #fff; 
    text-align: center;
    padding: 20px;
    height: 100vh; 
    position: relative;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 12px 0;
    position: relative; 
    width: 100%;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-list li {
    display: inline;
    margin: 0 15px;
}

.nav-list li a {
    text-decoration: none;
    color: #fff; 
    font-size: 18px;
    transition: color 0.3s; 
}

.nav-list li a:hover {
    color: antiquewhite;
}

.banner-content {
    position: relative; 
    margin-top: 5em;
}




.banner-content img {
    position: relative; 
    top: 20em;
}
.banner-content p {
    position: relative; 
    top: 20em;
    font-size: 16px;
}


.pagina1 {
    background-color: whitesmoke;
    border-radius: 1em;
    padding-top: 1em;
    margin-top: 1em;
    padding-bottom: 1em;
    
    }

    .pagina2 {
        background-color:whitesmoke;
        border-radius: 1em;
        padding-top: 1em;
        margin-top: 1em;
        padding-bottom: 1em;
        
        }

        .info1 img {
            border-radius: 0.4em;
            margin-left: 1em;
            margin-top: 2.5em;
        }


        .info2 img {
            border-radius: 0.4em;
            margin-right: 1em;
            margin-top: 2.5em;

        }
 
 
        
        .info1 p {
            font-size: 14px;
          color: white;
            margin-left: 1em;
            margin-right: 1em;
        
        }

        .info2 p { 
            margin-left: 1em;
            margin-top: 1.6em;
            padding-bottom: 0.5em;
            font-size: 14px;
            color: white;
        }
        
        .info1 {
            background-color: #C8A17D;
            display: flex;
            border-radius: 0.3em;
            padding-top: 1em;
            padding-bottom: 1em;
            margin: 2em;
        }
        

.info2 {
    background-color: #C8A17D;
    display: flex;
    border-radius: 0.3em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 2em;
}

.banner2{
    background-image: url('fotos/banner1png.png'); 
    background-size: cover; 
    color: #fff; 
    text-align: center;
    padding: 20px;
    height: 100vh; 
    position: relative;
}

.banner3{
    background-image: url('fotos/banner3png.png'); 
    background-size: cover; 
    color: #fff; 
    text-align: center;
    padding: 20px;
    height: 100vh; 
    position: relative;
}


.info4 {
    display: flex;
    justify-content: right;
    background-color: #c49270;
    padding: 1em;
    border-radius: 0.4em;
    
}

.info4 p { 
    font-size: 13px;
    color: white;
    margin-right: 0.5em;
}

.info3 {
    display: flex;
    justify-content: right;
    background-color: #c49270;
    padding: 1em;
    border-radius: 0.4em;
}

.info3 p { 
    font-size: 13px;
    color: white;
    margin-left: 0.5em;
}

.info3 img {margin-top: 1em;}
.info4 img {margin-top: 1em}

.whitesmoke {background-color: whitesmoke;
    padding-top: 1em;

}

.dozen {align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1em;

}